<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>Universal Dictionary</title>
</head>
<body>
  <div class="container">
    <h1 class="title">Universal Dictionary</h1>
    <div>
      <input type="text" id="wordInput" placeholder="Enter Your words">
      <button id="searchButton">Search</button>
    </div>
    <div id="error"></div>
    <div id="displayResult"></div>
  </div>

  <script src='../javascripts/main.js'></script>
</body>
</html>
